.movie {
  position: relative;
  padding-bottom: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-basis: 50%;
}

span {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 2px;
  border-top-right-radius: 5px;
}

@media screen and (min-width: 992px) {
  .movie {
    flex-basis: 20%;
    padding-bottom: 30%;
  }
}