nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

nav select {
  height: 100%;
}

.nav-links:first-of-type {
  margin: 0 20px;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
}